<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/nav.css" />
    <link rel="stylesheet" href="/styles/posts.css" />
    <link rel="stylesheet" href="/styles/search.css" />
    <link rel="stylesheet" href="/styles/post.css" />
    <link rel="stylesheet" href="/styles/profile.css" />
    <link rel="stylesheet" href="/styles/edit-create.css" />
    <link rel="stylesheet" href="/styles/edit-profile.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav class="border shadow-10 parent-active">
        <p><i class="fa-brands fa-wordpress"></i></p>
        <a class="hover border shadow-5 child-active" href="/"><i class="fa-solid fa-house "></i></a>
        <a class="hover border shadow-5 child-active" href="/profile/<%= userId %>"><i class="fa-solid fa-user "></i></a>
        <a class="hover border shadow-5 child-active" href="/search"><i class="fa-solid fa-magnifying-glass "></i></a>
        <a class="hover border shadow-5 child-active" href="/favorites"><i class="fa-solid fa-star "></i></a>
        <a class="hover border shadow-5 child-active" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket "></i></a>
      </nav>
    </header>
    <main>
