<%- include('partials/header.ejs') %>
<p>allPosts</p>
<a href="/register">register</a>
<a href="/login">login</a>
<form action="/logout" method="post">
  <button>logout</button>
</form>
<%- include('partials/footer.ejs') %>