<%- include('partials/header.ejs') %>
<form action="/create" method="post">
  <label for="title">title</label>
  <input type="text" name="title" id="">
  <br>
  <label for="content">content</label>
  <textarea name="content" id=""></textarea>
  <br>
  <button>create</button>
</form>
<%- include('partials/footer.ejs') %>