<%- include('partials/header.ejs') %> <% if (locals.picPath) { %>
<img
  class="border shadow-5 child-active"
  src="<%= picPath %>"
  alt="profile photo"
  width="150"
  height="150"
  id="profile-pic"
/>
<% } else {%>
<img
  class="border shadow-5 child-active"
  src="/assets/user.png"
  alt="profile photo"
  width="150"
  height="150"
  id="profile-pic"
/>
<% } %>
<form
  id="upload-form"
  action="/upload-profile-pic"
  method="post"
  enctype="multipart/form-data"
>
  <input
    id="file-inp"
    type="file"
    name="profilePic"
    accept="image/*"
    required
  />
  <button>Upload</button>
</form>
<form id="edit-profile-form" action="/edit-profile" method="post">
  <input class="border shadow-5 child-active" type="text" name="username" id="" value="<%= username %>" required />
  <button class="border shadow-5 child-active hover">Edit</button>
</form>

<script src="scripts/profile-pic.js"></script>
<%- include('partials/footer.ejs') %>
