<%- include('partials/header.ejs') %>
<div>
  <% if (locals.followings) { %>
    <% for( let profile of followings) { %>
      <a href="/profile/<%= profile.id %>"><%= profile.username %></a>
      <br>
    <% } %>
  <% } %>
</div>
<%- include('partials/footer.ejs') %>