<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/login" method="post">
    <label for="username">enter your username</label>
    <input type="text" name="username" id="login-username">
    <br>
    <label for="password">enter your password</label>
    <input type="password" name="password" id="login-password">
    <hr>
    <p>If you don't have an account, you can <a href="/register">register</a> here</p>
    <button>login</button>
    <a href="/posts">home page</a>
  </form>
</body>
</html>