<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/login-register.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/register" method="post" id="register-form">
        <input
          type="text"
          name="username"
          id="register-username"
          class="register-input"
          placeholder="Username"
        />
        <input
          type="password"
          name="password"
          id="register-password"
          class="register-input"
          placeholder="Password"
        />
        <p id="login-link">Do you have one? <a href="/login">Login</a></p>
        <div class="register-btn-group">
          <button>Register</button>
          <a href="/auth/google" id="google-btn">Google</a>
        </div>
      </form>
    </div>
  </body>
</html>
