<%- include('partials/header.ejs') %>
<form action="">
  <input type="search" name="search" id="searchbox" class="border shadow-5 child-active">
</form>
<div id="section">
  <a href="#" id="display-posts" class="border shadow-5 child-active hover">posts</a>
  <a href="#" id="display-users" class="border shadow-5 child-active hover">users</a>
</div>
<div id="searched-posts" class="show"></div>
<div id="searched-users" class="hide"></div>
<script src="/scripts/search.js"></script>
<%- include('partials/footer.ejs') %>