* {
  font-size: 18px;
}

body {
  align-content: center;
  justify-content: center;
}

.form-container {
  display: grid;
  padding: 15px;
  gap: 10px;
  width: 700px;
  height: 300px;
}

.login-register-form{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.login-register-input{
  padding: 0 10px;
}

.login-register-btn-group{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.login-register-btn-group *{
  cursor: pointer;
}

.login-register-link{
  align-content: center;
}

.login-register-link a{
  text-decoration: underline;
}

.google-btn {
  text-align: center;
  text-decoration: none;
  align-content: center;
}