#post-container{
  display: grid;
  grid-template-rows: auto max-content;
  height: 100%;
}

#post{
  overflow-y: auto;
  display: grid;
  grid-template-rows: max-content auto;
  gap: 20px;
}

.content{
  scrollbar-width: none;
}

#profile-link{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#profile-link img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border: 1px solid #4d4d4d;
  border-radius: 5px;
}

#profile-link p{
  font-size: 18px;
}

#title{
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 15px;
  align-items: center;
}

#title button{
  border: none;
}

#title button i{
  font-size: 24px;
}

